@use 'sass:map';

@import 'mixins/mixins';
@import 'common/var';

[class^='#{$namespace}-icon-'],
[class*=' #{$namespace}-icon-'] {
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  vertical-align: baseline;
  speak: none;
  font-variant: normal;
}

.#{$namespace}-icon--right {
  margin-left: 5px;
}

.#{$namespace}-icon--left {
  margin-right: 5px;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@include b(icon) {
  --color: inherit;
  --font-size: #{map.get($--font-size, 'base')};

  @include when(loading) {
    animation: rotating 2s linear infinite;
  }

  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: var(--font-size);
  line-height: 1em;
  color: var(--color);
  text-align: center;
  fill: currentColor;

  svg {
    width: 1em;
    height: 1em;
  }
}
