@use 'sass:map';

// CSS3 var
@use 'common/var' as *;
@use 'mixins/var' as *;

// for better performance do not dynamically change the root variable if you really
// do not need that, since this could introduce recalculation overhead for rendering.
// https://lisilinhart.info/posts/css-variables-performance/

:root {
  --sn-color-white: #{$color-white};
  --sn-color-black: #{$color-black};

  --sn-color-primary: #{$color-primary};

  // Background
  --sn-background-color-base: #{$background-color-base};

  // Border
  --sn-border-width-base: #{$border-width-base};
  --sn-border-style-base: #{$border-style-base};
  --sn-border-color-hover: #{$border-color-hover};
  --sn-border-base: var(--sn-border-width-base) var(--sn-border-style-base) var(--sn-border-color-base);

  // Svg
  --sn-svg-monochrome-grey: #dcdde0;

  // Fill
  --sn-fill-base: var(--sn-color-white);

  --sn-font-weight-primary: 500;
  --sn-font-line-height-primary: 24px;
  --sn-font-color-disabled-base: #bbb;

  // z-index
  --sn-index-normal: 1;
  --sn-index-top: 1000;
  --sn-index-popper: 2000;

  // Disable base
  --sn-disabled-fill-base: var(--sn-background-color-base);
  --sn-disabled-color-base: var(--sn-text-color-placeholder);
  --sn-disabled-border-base: var(--sn-border-color-light);

  // Transition
  // refer to this website to get the bezier motion function detail
  //  https://cubic-bezier.com/#p1,p2,p3,p4 (change px as your function parameter)
  --sn-transition-duration: #{map.get($transition-duration, 'default')};
  --sn-transition-duration-fast: #{map.get($transition-duration, 'fast')};

  @for $i from 1 through 9 {
    @include set-css-color-type-light('primary', $i);
  }

  // --sn-color-#{$type}
  // --sn-color-#{$type}-light-{$i}
  @each $type in (success, warning, danger, error, info) {
    @include set-css-color-type($type);
  }

  // --sn-text-color-#{$type}
  @each $type in (primary, regular, secondary, placeholder) {
    @include set-css-var-type('text-color', $type, $text-color);
  }

  // --sn-border-color-#{$type}
  @each $type in (base, light, lighter, extra-light) {
    @include set-css-var-type('border-color', $type, $border-color);
  }

  // --sn-border-radius-#{$type}
  @each $type in (base, small, round, circle) {
    @include set-css-var-type('border-radius', $type, $border-radius);
  }

  // Box-shadow
  // --sn-box-shadow-#{$type}
  @each $type in (base, light) {
    @include set-css-var-type('box-shadow', $type, $box-shadow);
  }

  // Typography
  @each $type in (extra-large, large, medium, base, small, extra-small) {
    @include set-css-var-type('font-size', $type, $font-size);
  }

  @include set-component-css-var('transition-function', $transition-function);
  @include set-component-css-var('transition', $transition);
}
