<script setup>
import { SnButton } from '@spider-nest-vue/components'
</script>

<template>
  <div class="container">
    <SnButton>test</SnButton>
  </div>
</template>

<style lang="scss">
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;

  #cooking {
    width: 100%;
    height: 100%;

    .container {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}
</style>
